*/migrations/*
!*/migrations/__init__.py
*.pyc
/*.pyc
*/*.pyc
*.DS_Store
*.idea
*.git
*/.DS_Store
*/.idea
*/__pycache__
*/__pycache__/*
*/export/*
*/export/*.csv
configure.yaml
db.sqlite3
scheduler.log
celerybeat-schedule


