{% extends "base/base.html" %}
{% block  title %}资产详情{% endblock %}
{% block header-css %}
{% load bootstrap3 %}
{% endblock %}


{% block  page-content %}


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="text-center"><i class="fa fa-laptop"></i>资产详情</a>
                            </li>



                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ ecs.hostname }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>

                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td style=" border-top: none !important;" width="20%">主机类型:</td>
                                            <td style=" border-top: none !important;"><b>{{ ecs.get_type_display }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">实例ID:</td>
                                            <td><b>{{ ecs.instance_id }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">标签:</td>
                                            <td><b>{{ ecs.instance_name }}</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="20%">系统版本:</td>
                                            <td><b>{{ ecs.os_name }}</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="20%">CPU:</td>
                                            <td><b>{{ ecs.cpu }}</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="20%">内存:</td>
                                            <td><b>{{ ecs.memory }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">内网IP:</td>
                                            <td><b>{{ ecs.private_ip }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">外网IP:</td>
                                            <td><b>{{ ecs.public_ip }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">创建时间:</td>
                                            <td><b>{{ ecs.c_time }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">更新时间:</td>
                                            <td><b>{{ ecs.u_time }}</b>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block footer-js %}
        <script>
            window.onload = function () {
                $(".assets").addClass("active");
                $(".ecs-list").addClass("active");
            };



        </script>


    {% endblock %}


{% endblock %}


